.profile {
  position: relative;
  display: inline-block;
}

img {
  margin: 10px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.circle_green {
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #4cfe88;
  bottom: 10px;
  right: 10px;
  border: 2px solid white;
}

.circle_gray {
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #dbdbdb;
  bottom: 10px;
  right: 10px;
  border: 2px solid white;
}
